
body {
	font-size: 24px;
    font-family: sans-serif;
    background: #252525
}
#box {
	width: 39.5%;
	height: 400px;
	margin: 160px auto 0;
	background: white;
	padding-bottom: 90px;
	box-shadow: 0 0 5px grey;
	border-radius: 2px;

}
input {
	width: 70%;
	height: 2em;
	margin: 40px 0 0 45px;
	border-radius: 2px;
		font-size: 24px;
}
p {
	margin: 45px 0 25px 70px;
}
ul {
	line-height: 1.5em;
	margin: 10px 0 0 90px;
	}
li {
	display: none;
}

.show {
	display: list-item;
}